/*******************************************************
Title: Ads
Authors: Kookiiz Team
Purpose: CSS style sheet for ads
********************************************************/

#panel_offer_pic
{
    max-width:95%;
}