/*******************************************************
Title: Article
Authors: Kookiiz Team
Purpose: Styling rules for articles
********************************************************/

#articles_search_results
{
	padding:10px 5px 5px;
}