/*******************************************************
Title: Chefs
Authors: Kookiiz Team
Purpose: Styling rules for chefs panel and tab
********************************************************/

/*******************************************************
Full tab
********************************************************/

#chef_picture
{
	text-align:center;
}

/*******************************************************
Panel
********************************************************/

.chef_pic_small
{
	cursor:pointer;
}