/*******************************************************
Title: Footer
Authors: Kookiiz Team
Purpose: CSS styling rules for Kookiiz footer
********************************************************/

/*******************************************************
Sources
********************************************************/

#kookiiz_sources
{
    max-height: 500px;
    overflow: auto;
}

/*******************************************************
Terms
********************************************************/

#kookiiz_terms
{
    max-height: 500px;
    overflow: auto;
}