/*******************************************************
Title: Help
Authors: Kookiiz Team
Purpose: CSS style sheet for Help
********************************************************/

#kookiiz_help
{
    position:               absolute;
	width:                  700px;
    height:                 500px;
    background-color:       white;
    border:                 2px solid $COLOR_PRIMARY;
    -moz-border-radius:     8px;
    -webkit-border-radius:  8px;
    border-radius:          8px;
    -moz-box-shadow:        0px 0px 10px 10px $COLOR_SHADOW; /* Firefox */
    -webkit-box-shadow:     0px 0px 10px 10px $COLOR_SHADOW; /* Safari and Chrome */
    box-shadow:             5px 0px 0px 10px 10px $COLOR_SHADOW;
	z-index:                40;
}

    /* Kookiiz logo */

    #help_logo
    {
        float:  left;
        margin: 10px 30px;
    }

    /* Top tab */

    #kookiiz_help .tab
    {
        background-color:   $COLOR_PRIMARY;
        padding:            5px 0 5px 10px;
        color:              $COLOR_BACKGROUND;
    }

    /* Top menu */

    #kookiiz_help .topmenu
    {
        float:      left;
        overflow:   auto;
    }

        #kookiiz_help .topmenu .theme
        {
            float:                  left;
            width:                  160px;
            height:                 30px;
            margin:                 15px 8px;
            cursor:                 pointer;
            background-color:       $COLOR_TABS;
            border:                 1px solid $COLOR_TABS;
            -moz-border-radius:     8px;
            -webkit-border-radius:  8px;
            border-radius:          8px;
            -moz-box-shadow:        5px 5px 2px $COLOR_SHADOW; /* Firefox */
            -webkit-box-shadow:     5px 5px 2px $COLOR_SHADOW; /* Safari and Chrome */
            box-shadow:             5px 5px 2px $COLOR_SHADOW;
        }

        #kookiiz_help .topmenu .theme:hover,
        #kookiiz_help .topmenu .theme.selected
        {
            background-color:   $COLOR_PRIMARY;
            border:             1px solid $COLOR_PRIMARY;
            -moz-box-shadow:1px 1px 1px 1px $COLOR_SHADOW_DARK;     /* Firefox */
            -webkit-box-shadow: 1px 1px 1px 1px $COLOR_SHADOW_DARK; /* Safari and Chrome */
            box-shadow:         1px 1px 1px 1px $COLOR_SHADOW_DARK;
        }

        #kookiiz_help .topmenu .theme:hover h5,
        #kookiiz_help .topmenu .theme.selected h5
        {color: $COLOR_BACKGROUND;}

        #help_close
        {
           position:    absolute;
           right:       5px;
           top:         5px;
        }

    /* Sidebar */

    #kookiiz_help .sidebar
    {
        float:  left;
        clear:  left;
    }

        #kookiiz_help .sidebar .topic
        {
            height:                 30px;
            width:                  140px;
            margin:                 10px;
            padding:                5px;
            cursor:                 pointer;
            vertical-align:         middle;
            background-color:       $COLOR_SECONDARY_LIGHT;
            border:                 1px solid $COLOR_SECONDARY_LIGHT;
            -moz-border-radius:     4px;
            -webkit-border-radius:  4px;
            border-radius:          4px;
            -moz-box-shadow:        3px 3px 1px $COLOR_SHADOW; /* Firefox */
            -webkit-box-shadow:     3px 3px 1px $COLOR_SHADOW; /* Safari and Chrome */
            box-shadow:             3px 3px 1px $COLOR_SHADOW;
        }

        #kookiiz_help .sidebar .topic:hover,
        #kookiiz_help .sidebar .topic.selected
        {
            background-color:   $COLOR_SECONDARY;
            border:             1px solid $COLOR_SECONDARY;
            -moz-box-shadow:    1px 1px 1px 1px $COLOR_SHADOW_DARK; /* Firefox */
            -webkit-box-shadow: 1px 1px 1px 1px $COLOR_SHADOW_DARK; /* Safari and Chrome */
            box-shadow:         1px 1px 1px 1px $COLOR_SHADOW_DARK;
        }

    /* Content */

    #kookiiz_help .content
    {
        float:                  left;
        padding:                5px;
        border:                 1px solid $COLOR_PRIMARY_LIGHT;
        -moz-border-radius:     4px;
        -webkit-border-radius:  4px;
        border-radius:          4px;
    }

        /* Picture */

        #kookiiz_help .content img
        {
            height:             270px;
            width:              400px;
            background-image:   url("/pictures/help/help.png");
        }
        #kookiiz_help .content img.topic_0
        {background-position: 0 0;}
        #kookiiz_help .content img.topic_1
        {background-position: -400px 0;}
        #kookiiz_help .content img.topic_2
        {background-position: -800px 0;}
        #kookiiz_help .content img.topic_3
        {background-position: -1200px 0;}
        #kookiiz_help .content img.topic_4
        {background-position: -1600px 0;}
        #kookiiz_help .content img.topic_5
        {background-position: 0 -270px;}
        #kookiiz_help .content img.topic_6
        {background-position: -400px -270px;}
        #kookiiz_help .content img.topic_7
        {background-position: -800px -270px;}
        #kookiiz_help .content img.topic_8
        {background-position: -1200px -270px;}
        #kookiiz_help .content img.topic_9
        {background-position: -1600px -270px;}
        #kookiiz_help .content img.topic_10
        {background-position: 0px -540px;}

        /* Text */

        #kookiiz_help .content .text
        {
            width: 500px;
        }

/*******************************************************
CURTAIN
********************************************************/

div.curtain.help
{
    z-index: 30;
}