/*******************************************************
Title: Navigation
Authors: Kookiiz Team
Purpose: Styling rules for the navigation panel
********************************************************/

#nav_list {margin:0 5px;}