/*******************************************************
Title: Partners
Authors: Kookiiz Team
Purpose: Style definitions for partners display
********************************************************/

img.partner_banner
{
	max-width: 150px;
}