/*******************************************************
Title: Search (mobile)
Authors: Kookiiz Team
Purpose: Styling rules for recipe search
********************************************************/

/*******************************************************
SEARCH
********************************************************/

#input_search
{font-size: 1.5em;}